.pagination-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.pagination-ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.pagination-li {
  margin: 0 5px;
}

.pagination-button {
  background-color: #fff;
  color: #007f86;
  border: 1px solid #007f86;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.pagination-button:hover {
  background-color: rgb(34, 80, 128);
  color: #fff;
}

.current-page {
  background-color: #007f86;
  color: #fff;
}

@media (max-width: 768px) {
  .pagination-ul {
    flex-direction: column;
    padding: 0;
  }

  .pagination-li {
    margin: 5px 0;
  }
}

